@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header begining */
.backgroundHeader{
    background-size: 101%;
    background-repeat: no-repeat;
    height:590px;
    background-image:url("../assets/backgroundheader.png");
    /* border: solid purple; */
}
.wordsHeader{
    display: flex;
    position: absolute;
    top:52.5vh;
    justify-content: space-around;
    width: 99.5%;
    height: 125px;
    /* border:solid yellowgreen; */
}
.starHeader{  
    position: absolute;
    left:255px;
    width: 325px;
    height: 84.4px;
    /* border: solid brown; */
}
.warHeader {
    position: absolute;
    left: 881.5px;
    width: 338px;
    height: 82px;
    /* border: solid gold; */
}
.kyloRen{
    background-image:url("../assets/darkwarrior.png");
    background-repeat: no-repeat;
    background-size:101%;
    position: absolute;
    left:133px;
    width:70vw;
    height:108vh;
    /* border: solid steelblue; */
}
.headerInfo{
    /* border: red solid; */
    display: flex;
    width: 100%;
    height:585px;
    align-items: flex-end;
    justify-content:flex-end ;
}
.headerInfo img{
    position: absolute;
    right:156px;
    width:125px;
    height:135px;
    bottom:30px;
    background-color: white;
}
/* header second part */
.secondSectionHeader{
  width: 100%;
  height: 995px;
  border:  blue solid;
}
aside{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    left: 34.5vw;
    top:117vh;
    width: 60%;
    height:40vh;
    /* border: solid yellow; */
}
aside h2{
    position: absolute;
    left: 27.5vw;
    top: 11vh;
    font-family: Cabin, sans-serif;
    font-weight:bold;
    font-size: 20px;
}
.asideLine{
    position: absolute;
    top: 16.5vh;
    left: 28vw;
    width:15.9%;
    border:solid 1px;
}
.headStormtrooper{
    width: auto;
    height:28vh;
    /* border: solid hotpink; */
}
.figcaptionH1{
    position: absolute;
    top:18.3vh;
    left:7.8vw;
    /* border:solid purple; */
    width: 50%;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-align: right;
}
.figcaptionH2{
    position: absolute;
    top:28.7vh;
    left:7.8vw;
    /* border:solid purple; */
    width: 50%;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-align: right;
}
.headSecondBack{
    background-image: url("../assets/backgroundrobot.png");
    /* width: 520px; */
    width: auto;
    height:991px;
    /* width: 500px;
    height:1000px; */
    background-size:41%;
    background-repeat: no-repeat;
    border: red solid;
}
.redStormtrooper{
    position: absolute;
    left: 14vw;
    top:555px;
    background-image: url("../assets/red\ stormtrooper.png");
    background-repeat: no-repeat;
    /* width:268px;
    height:354px; */
    width:395px;
    height:400px;
    background-size:72%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

/* ajeitar as fontes e posicionamento quando chegar em casa */

.redStormtrooper h2{
    position: absolute;
    top:55px;
    left: 70px;
    color: white;
    width: 40%;
    height: 100px;
    font-size: 35px;
    word-spacing: 2px;
    font-family: Open Sans;
}
.stormtrooperText{
    position:absolute;
    top:33vh;
    left: 12px;
    color: white;
    /* border:solid green; */
    width:63%;
    font-size: 13.5px;
    font-weight:1;
    font-family: Open Sans;
    text-align: justify;
}
.redStormtrooper button{
    position: absolute;
    top: 280px;
    left: 60px;
    background-color:transparent;
    color: white;
    border:  2px solid white;
    border-radius: 5px;
    width: 40%;
    height: 38px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    z-index:1;
    box-shadow: 0px 0px 0px 0px black inset;
    transition: ease-in-out 0.7s;
}
.redStormtrooper button:hover{
    box-shadow: 155px 0px 0px 0px black inset;
    cursor: pointer;
    color:white;
    font-size: 20px;
}
.testUpdate{
    position: absolute;
    top:57vh;
    left:14.3vw;
    font-size: 7px;
    color: white;
    font-family: Roboto Flex;
    font-weight: 1;
}
.headerLine{
    position: absolute;
    top:1013px;
    left:13.8vw;
    width: 81%;
    height: 1px;
    border: 2px solid  grey;
}
.redWarrior{
    position: absolute;
    left:14.2vw;
    top: 167.5vh;
    /* background-color: red; */
    width: auto;
    height: 596.5px;
    /* border: solid; */
    /* width: 846px;
    height: 843px; */
}
nav{
    position: absolute;
    top: 180vh;
    left: 44vw;
    width:28vw;
    /* border: solid aqua; */
    display: flex;
    flex-direction: column;
    text-align: right;
}
.titleNav{
    /* border: solid; */
    display: flex;
    justify-content: flex-end;
}
nav h2{
    font-size:46px;
    /* border: solid green; */
    width: 23.5vw;
    height:120px;
    font-family: Roboto,R, sans-serif;
}
span{
 font-family: Staatliches;
}
nav li{
    position: relative;
    padding-right: 15px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 21px;
    font-family:Open Sans, sans-serif;
    font-weight: 900;
    list-style:none;
    /* border: solid yellow; */
    height:7vh;
    width: 100%;

}
nav li:hover{
    background-color: rgb(248, 58, 58);
    color: white;
}
.warriorWoman{
    position: absolute;
    top: 178vh;
    left: 72vw;
    width:auto;
    height:543.5px;
    /* border: solid; */
}




/* begining main */
main{
    width: 100%;
    height: 2345px;
    background-color: #2D2D2D;
}