@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header begining */
.backgroundHeader{
    background-size: 101%;
    background-repeat: no-repeat;
    height:590px;
    background-image:url("../assets/backgroundheader.png");
    /* border: solid purple; */
}
.wordsHeader{
    display: flex;
    position: absolute;
    top:52.5vh;
    justify-content: space-around;
    width: 99.5%;
    height: 125px;
    /* border:solid yellowgreen; */
}
.starHeader{  
    position: absolute;
    left:255px;
    width: 325px;
    height: 84.4px;
    /* border: solid brown; */
}
.warHeader {
    position: absolute;
    left: 881.5px;
    width: 338px;
    height: 82px;
    /* border: solid gold; */
}
.kyloRen{
    background-image:url("../assets/darkwarrior.png");
    background-repeat: no-repeat;
    background-size:101%;
    position: absolute;
    left:133px;
    width:70vw;
    height:108vh;
    /* border: solid steelblue; */
}
.headerInfo{
    /* border: red solid; */
    display: flex;
    width: 100%;
    height:585px;
    align-items: flex-end;
    justify-content:flex-end ;
}
.headerInfo img{
    position: absolute;
    right:156px;
    width:125px;
    height:135px;
    bottom:30px;
    background-color: white;
}
/* header second part */
.secondSectionHeader{
  width: 100%;
  height: 950px;
  border:  blue solid;
}
.headStormtrooper{
    position: absolute;
    /* top: 775px; */
    left: 457px;
    /* border: solid yellow; */
    width: 280px;
    height: 200px;
    background-image: url(/assets/headstormtrooper.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
aside{
    position: absolute;
    top:750px;
    left: 500px;
    border: solid yellow;
    width: 55%;
    height: 200px;
}
aside p{
    position: absolute;
    top:60px;
    left: 15px;
    border:solid purple;
    width: 60%;
    font-size: 18px;
}
.headSecondBack{
    background-image: url("../assets/backgroundrobot.png");
    /* width: 520px; */
    width: 530px;
    height:947px;
    /* width: 500px;
    height:1000px; */
    background-size:100%;
    background-repeat: no-repeat;
    border: red solid;
}
.redStormtrooper{
    position: absolute;
    left: 190px;
    top:555px;
    background-image: url("../assets/red\ stormtrooper.png");
    background-repeat: no-repeat;
    /* width:268px;
    height:354px; */
    width:360px;
    height:400px;
    background-size:72%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

/* ajeitar as fontes e posicionamento quando chegar em casa */

.redStormtrooper h2{
    position: absolute;
    top:55px;
    left: 70px;
    color: white;
    width: 40%;
    height: 100px;
    font-size: 30px;
    word-spacing: 2px;
    font-family: Open Sans;
}
.stormtrooperText{
    position:absolute;
    top:185px;
    left: 12px;
    color: white;
    /* border:solid green; */
    width:63%;
    font-size: 13.5px;
    font-weight:1;
    font-family: Open Sans;
    text-align: justify;
}
.redStormtrooper button{
    position: absolute;
    top: 280px;
    left: 60px;
    background-color:transparent;
    color: white;
    border:  2px solid white;
    border-radius: 5px;
    width: 40%;
    height: 38px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    z-index:1;
    box-shadow: 0px 0px 0px 0px black inset;
    transition: ease-in-out 0.7s;
}
.redStormtrooper button:hover{
    box-shadow: 140px 0px 0px 0px black inset;
    cursor: pointer;
    color:white;
    font-size: 20px;
}
.testUpdate{
    position: absolute;
    top: 340px;
    left: 170px;
    font-size: 7px;
    color: white;
    font-family: Roboto Flex;
    font-weight: 1;
}
.headerLine{
    position: absolute;
    top:985px;
    left: 190px;
    width: 80%;
    height: 1px;
    border: 2px solid  grey;
}
.redWarrior{
    position: absolute;
    left:180px;
    top: 1000px;
    background-image: url(/assets/warriorred.png);
    background-repeat: no-repeat;
    background-size: 94.5%;
    width: 639.5px;
    height: 600px;
    /* width: 846px;
    height: 843px; */
}







/* begining main */
main{
    width: 100%;
    height: 2345px;
    background-color: #2D2D2D;
}