@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border:solid darkgreen; */
}
/*-------------------------------*/
/* header begining */
.backgroundHeader{
    background-size: 101%;
    background-repeat: no-repeat;
    height:590px;
    background-image:url("../assets/backgroundheader.png");
}
.wordsHeader{
    display: flex;
    position: absolute;
    top:52.3vh;
    justify-content: space-around;
    width: 99.5%;
    height: 125px;
}
.starHeader{  
    position: absolute;
    left:255px;
    width: 325px;
    height: 84.4px;
}
.warHeader {
    position: absolute;
    left: 884.5px;
    width: 338px;
    height: 82px;
}
.kyloRen{
    background-image:url("../assets/darkwarrior.png");
    background-repeat: no-repeat;
    background-size:101%;
    position: absolute;
    left:133px;
    width:70vw;
    height:108vh;
}
.headerInfo{
    display: flex;
    width: 100%;
    height:585px;
    align-items: flex-end;
    justify-content:flex-end ;
}
.headerInfo img{
    position: absolute;
    right:156px;
    width:125px;
    height:135px;
    bottom:30px;
    background-color: white;
}
/*-------------------------------*/
/* header second part */
.secondSectionHeader{
  width: 100%;
  height: 995px;
}
aside{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    left: 34.5vw;
    top:117vh;
    width: 60%;
    height:40vh;
}
aside h2{
    position: absolute;
    left: 27.5vw;
    top: 11vh;
    font-family: "Cabin", sans-serif;
    font-weight:bold;
    font-size: 20px;
}
.asideLine{
    position: absolute;
    top: 16.5vh;
    left: 28vw;
    width:15.9%;
    border:solid 1px;
}
.headStormtrooper{
    height:28vh;
}
.textAside1{
    position: absolute;
    top:19vh;
    left:7.8vw;
    width: 50%;
    font-size: 17px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-align: right;
}
.textAside2{
    position: absolute;
    top:29vh;
    left:7.8vw;
    width: 50%;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: right;
}
/*-------------------------------*/
/*  BEGINING SECOND PART OF HEADER*/
.headSecondBack{
    background-image: url("../assets/backgroundrobot.png");
    height:995px;
    background-size:41.1%;
    background-repeat: no-repeat;
}
.redStormtrooper{
    position: absolute;
    left: 14vw;
    top:555px;
    background-image: url("../assets/red\ stormtrooper.png");
    background-repeat: no-repeat;
    width:395px;
    height:400px;
    background-size:72%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* ajeitar as fontes e posicionamento quando chegar em casa */

.redStormtrooper h2{
    position: absolute;
    top:55px;
    left: 70px;
    color: white;
    width: 40%;
    height: 100px;
    font-size: 35px;
    font-family: "Open Sans";
}
.stormtrooperText{
    position:absolute;
    top:33vh;
    left: 12px;
    color: white;
    width:63%;
    font-size: 13.5px;
    font-weight:1;
    font-family:"Open Sans";
    text-align: justify;
}
.redStormtrooper button{
    position: absolute;
    top: 280px;
    left: 60px;
    background-color:transparent;
    color: white;
    border:  2px solid white;
    border-radius: 5px;
    width: 40%;
    height: 38px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    z-index:1;
    transition: ease-in-out 0.7s;
}
.redStormtrooper button:hover{
    box-shadow: 155px 0  black inset;
    cursor: pointer;
    color:white;
    font-size: 20px;
}
.testUpdate{
    position: absolute;
    top:57vh;
    left:14.3vw;
    font-size: 7px;
    color: white;
    font-family: Roboto Flex;
    font-weight: 1;
}
.headerLine{
    position: absolute;
    top:1013px;
    left:13.8vw;
    width: 81%;
    height: 1px;
    border: 2px solid  grey;
}
.redWarrior{
    position: absolute;
    left:14.2vw;
    top: 167.5vh;
    width: auto;
    height: 596.5px;
}
nav{
    position: absolute;
    top: 180vh;
    left: 44vw;
    width:28vw;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.titleNav{
    display: flex;
    justify-content: flex-end;
    font-family: "Open Sans", sans-serif;
}
nav h2{
    font-size:46px;
    width: 23.5vw;
    height:120px;
    font-family: "Open Sans", sans-serif;
}
.titleNav span{
 font-family: "Staatliches";
 letter-spacing: 3px;
}
nav li{
    position: relative;
    padding-right: 15px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 21px;
    font-family:Open Sans, sans-serif;
    font-weight: 400;
    list-style:none;
    height:7vh;
    width: 100%;

}
nav li:hover{
    background-color: rgb(248, 58, 58);
    color: white;
}
.warriorWoman{
    position: absolute;
    top: 178vh;
    left: 72vw;
    height:543.5px;
}
/* -------------------------------------- */
/* begining responsive part header  */

@media (max-width: 500px){
    .backgroundHeader{
        background-size: 100%;
        background-repeat: no-repeat;
        height:43vh;
        background-image:url("../assets/backgroundheader.png");
    }
    .wordsHeader{
        display: flex;
        position: absolute;
        top:23.1vh;
        justify-content: space-around;
        width:100%;
        height:10vh;
    }
    .starHeader{  
        position: absolute;
        left:16.5vw;
        width:25.5%;
        height: 35px;
    }
    .warHeader {
        position: absolute;
        top:0.4vh;
        left:65.2vw;
        width: 25.5%;
        height: 35px;
    }
    .kyloRen{
        background-image:url("../assets/darkwarrior.png");
        background-repeat: no-repeat;
        background-size:70.8%;
        background-position: 8.9vw 0vh;
        position: absolute;
        left:0;
        width:100%;
    }
    .headerInfo{
        position: absolute;
        width: 98.5%;
        height:50vh;
    }
    .headerInfo img{
        position: absolute;
        top: 34.5vh;
        left: 76vw;
        width:auto;
        height:62.9px;
        padding:0px;
    }
    .secondSectionHeader{
      width: 100%;
      height: 1153px;
      border:none;
    }
    .headSecondBack{
        background-image: url("../assets/backgroundrobot.png");
        height:700px;
        background-size:70.5%;
        background-repeat: no-repeat;
    }
    .redStormtrooper{
        position: absolute;
        left: 29.2vw;
        top:58vh;
        background-image: url("../assets/red\ stormtrooper.png");
        background-repeat: no-repeat;
        width:295px;
        height:400px;
        background-size:109%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;   
    }
    .redStormtrooper h2{
        position: absolute;
        top:55px;
        left: 14.5vw;
        color: white;
        width: 50%;
        height: 100px;
        font-size: 32px;
        font-weight: 500;
        word-spacing: 2px;
        font-family: "Open Sans", sans-serif;
    }
    .stormtrooperText{
        position:absolute;
        top:35vh;
        left: 8vw;
        color: white;
        width:73%;
        font-size: 15.5px;
        font-weight:1;
        font-family: "Open Sans", sans-serif;
        text-align: justify;
    }
    .redStormtrooper button{
        position: absolute;
        top: 59vh;
        left: 15vw;
        background-color:transparent;
        color: white;
        border:  2px solid white;
        border-radius: 5px;
        width: 48%;
        height: 32px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        z-index:1;
        transition: ease-in-out 0.7s;
    }
    .redStormtrooper button:hover{
        box-shadow: 155px 0px 0px 0px black inset;
        cursor: pointer;
        color:white;
        font-size: 20px;
    }
    .testUpdate{
        position: absolute;
        top:75vh;
        left:18.4vw;
        font-size: 10px;
        color: white;
        font-family: "Roboto Flex";
        font-weight: 0;
    }
    
    aside{
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        left: 8.1vw;
        top:142vh;
        width: 80%;
        height:80vh;
    }
    aside h2{
        position: absolute;
        text-align: right;
        left: 47.8vw;
        top: 37.2vh;
        font-family: "Cabin", sans-serif;
        font-weight:bold;
        font-size: 21px;
        width: 41%;
        letter-spacing: 1.5px;
    }
    .headStormtrooper{
        height:33.5vh;
        width: 59.2vw;
    }
    .asideLine{
        position: absolute;
        top: 43vh;
        left: 38.2vw;
        width:52%;
        border:solid 2px;
    }
    .textAside1{
        position: absolute;
        top:45.5vh;
        left:0;
        width: 100%;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        text-align: right;
    }
    .textAside2{
        position: absolute;
        top:60.1vh;
        left:0;
        width: 100%;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        text-align: right;
    }
    .headerLine{
        position: absolute;
        top:225.5vh;
        left:9vw;
        width: 80%;
        height: 1px;
        border: 3px solid  rgb(128, 123, 123);
    }
    .redWarrior{
        position: absolute;
        left:3vw;
        top: 234vh;
        height:50vh;
    }
    nav{
        position: absolute;
        top: 236vh;
        left: 33vw;
        width:39vw;
        flex-direction: column;
        text-align: right;
    }
    .titleNav{
        display: flex;
        justify-content: flex-end;
    }
    nav h2{
        font-size:18px;
        width: 25vw;
        height:47px;
        font-family: "Roboto", sans-serif;
    }
   .titleNav span{
     font-family: "Staatliches";
     letter-spacing: 1.3px;
    }
    nav li{
        position: relative;
        padding: 0;
        font-size: 11.1px;
        font-family:"Open Sans", sans-serif;
        font-weight: 400;
        list-style:none;
        height:4.4vh;
        width: 100%;
    }
    nav li:hover{
        background-color: rgb(248, 58, 58);
        color: white;
    }
    .warriorWoman{
        position: absolute;
        top: 234vh;
        left: 71.5vw;
        height:50vh;
    }
}
/* ---------------------------------- */
/* end responsive part header */

/*-------------------------------*/
/* begining main */
main{
    width: 100%;
    height: 1660px;
    background-color: #2D2D2D;
    display: flex;
    border: solid darkblue;
}
.mainFirstSection{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 99.5%;
    height:100vh;
}
.mainFirstSection h2{
    position: absolute;
    left: 10vw;
    top:18vh;
    color: white;
    font-size: 38px;
    font-family: "Sovereign", sans-serif;
    font-weight: 900;
}
.mainBoxImages{
    position: absolute;
    top: 35vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 59vh;
    width: 85vw;
}
.mainImage1{
    height: 57.5vh;
}
.imagesBorder{
    position: absolute;
    /* border: solid rebeccapurple; */
    width: 50.4%;
    height: 100%;
    opacity: 0.5;
    transition: ease-in-out 1s;  
}
.imagesBorder:hover{
    content:'NARUTO';
    position: absolute;
    transform:scale(110%);
    background-color:rgb(21, 238, 14);
    opacity: 0.5;
    font-display:initial;
}



/* estudar hover after e before */
/* .imagesBorder:hover{
    animation: starBox 0.9s ease-in-out -0.2s 1 normal forwards;
    background-color: red;
} 
@keyframes starBox {
    0%{
        transform: scale(5%);
    }
    100%{
        transform: scale(110%);
    }
} */
.mainImage2{
    height: 28.8vh;
    opacity: 0.5;
    transition: ease-in-out 1s; 
}
.imagesBorder2{
    position: absolute;
    left:42.5vw;
    height: 29vh;
    width:25.1%;
    transition: ease-in-out 1s; 
}
.imagesBorder2:hover{
    position: absolute;
    transform:scale(112%);
    background-color:rgb(21, 238, 14);
    opacity: 0.5;
}

/* .imagesBorder{
    transition: ease-in-out 1s;
    border-top:solid 4px white;
    border-left: solid 4px white;
} */
/* .mainImage2:hover{
    opacity: 1;
    transform: scale(1.1);
    background-color: red;
} */
.boxSecondMFigure{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    top: 100vh;
    left: 6.2vw;
    height: 123vh;
    width: 87.5%;
}
.secondMainFigure{
    position: absolute;
    top: 0;
    height: 114vh;
}
.boxSecondMFigure figcaption{
    position: absolute;
    width: 55%;
    left:40vw;
    font-family: "Roboto";
    color: white;
    font-size: 15px;
    font-weight: 100;
}
.darkTrooperbox{
    position: absolute;
    top: 220vh;
    left: 5vw;
}
.darkTrooper{
    height: 95vh;
}
/*-------------------------------*/
/*  BEGINING PART OF RESPONSIVE MAIN*/

/*  END PART OF RESPONSIVE MAIN*/


/*  BEGINING FOOTER*/
footer{
    position: absolute;
    width: 100%;
    height: 156vh;
    /* border: solid red; */
}
.footerButtons{
    position: absolute;
    display:flex;
    /* flex-wrap: wrap; */
    top: 7.5vh;
    left: 32vw;
    height: 36vh;
    width:62%;
}
.oneBoxButton{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 35%;
    transition: ease-in-out 0.1s;
}
.firstP{
    font-family: "Roboto";
    font-weight: 100;
    text-align: center;
    align-items: baseline;
    font-size: 35px;
    transition: ease-in-out 0.5s;
}
.oneBoxButton:hover, .firstP:hover{
    font-size: 40px;
    font-weight:900;
}
.oneBoxButton:hover{
    font-size: 18.1px;
    width: 40%;
}
.oneBoxButton button{
    position: absolute;
    top:11vh ;
    width:70%;
    height:25%;
    font-size: 22px;
    font-weight: 1;
    font-family: "Open Sans";
    color: white;
    transition: ease-in-out 1s;
    background-color: black;
}
.oneBoxButton button:hover, .lineButtonF:hover{
    box-shadow: inset red 220px 0;
    cursor: pointer;
} 
 .secondP{
    position: absolute;
    top: 23vh;
    width: 55.4%;
    font-family: "Open Sans";
    font-weight: 300;
    transition: ease-in-out 0.5s;
}
 .lineButtonF{
    position: absolute;
    top: 33vh;
    background-color:black;
    width: 25%;
    height: 1.5%;
    transition: ease-in-out 0.5s;
}
.secondP2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 23vh;
    width: 40%;
    font-family: "Open Sans";
    font-weight: 300;
}
.footerSpan1{
    width: 100%;
    text-align: center;
}
.secondP3{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 23vh;
    width: 30%;
    font-family: "Open Sans";
    font-weight: 300;
}
.footerSpan2{
    width: 100%;
    padding-right: 6px;
    text-align: center;
}

/* SECOND PART OF FOOTER */

.secondFooter{
    position: absolute;
    top: 64vh;
    left: 0vw;
    width: 62.5%;
    /* border: solid rgb(120, 2, 150); */
    height: 105vh;
    background-color:#FF5A56 ;
}
.secondFooter h2{
    position: absolute;
    top: 16vh;
    left: 13vw;
    font-size: 35px;
    font-family: "Open Sans";
    color: white;
}
.firstPFooter{
    position: absolute;
    top: 29vh;
    left: 13vw;
    color: white;
    font-family: "Open Sans";
    font-weight: 100;
    font-size: 15px;
    width:48%;
}
.darthVader{
    position: relative;
    top: -15.5vh;
    left: 51vw;
    height: 115vh;
    width:45vw;
    /* border: solid; */
    background-image: url(/assets/DARTHVADER.png);
    background-size: 90.5%;
    background-repeat: no-repeat;

}
.boxOfApps{
    position: absolute;
    top: 50vh;
}
.lineFooter{
    position: absolute;
    top: 20vh;
}
.letterStarWars{
    position: absolute;
    top: 30vh;
}
.secondPFooter{
    position: absolute;
    top:40vh;
}